* {
	transition: all 0.15s ease-in-out;
}

a {
	text-decoration: none;
	border-bottom: .1em dotted transparent;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		border-bottom: .1em dotted;
	}
}

nav {
	a {
		text-decoration: initial;
		border-bottom: initial;

		&:hover,
		&:focus,
		&:active {
			text-decoration: initial;
			border-bottom: initial;
		}
	}
}